@import "tailwindcss";

@theme {
  --color-danger:#e91348;
  --color-primary:#1b66b9;
  --font-sans: "Poppins", sans-serif;
  --font-title-weight : 2.5em;
  --text-title:14px;
  --leading-title : 1.4rem;
}
