$navbar_height: 57px;
$navside_width: 260px;

:root {
  --navbar_height: #{$navbar_height};
  --navside_width: #{$navside_width};
}

.content-width {
  display: flex;
  align-items: center;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    height: 0;
  }
}
